@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "font-awesome";


h1{
  color: white;
}
.main{
  padding-top: 5em;
}

.navbar-right{
  margin-right: 20px;
}

.logo{
  color:lightgrey;
  a:hover{
    text-decoration: none;
  }
}

.art{
  width: 70%;
  display: inline;
}

.song{
  height: 30em;
  width: 30%;
  display: inline;
}
