@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "font-awesome";
@import "people";


h1{
  color: white;
}
.main{
  padding-top: 5em;
}

.navbar-right{
  margin-right: 20px;
}

.logo{
  color:lightgrey;
  a:hover{
    text-decoration: none;
  }
}

.art{
  width: 70%;
  display: inline;
}

.art-image{
}

.song{
  height: 30em;
  width: 30%;
  display: inline;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
