// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.white{
    color: white !important;
    &:hover{
      color: white;
      text-decoration: none;
    }
}

.person{
  height: 150px;
  background-color: #009688;
  color: white;

}

.red{
  background-color: lightcoral;
}

.green{
  background-color: lightseagreen;
}
.blue{
  background-color: lightblue;
}
